################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CN_CHomeworks_1
/Server/x64/Debug
/x64/Debug
/Client/x64/Debug
